.dices-page {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: 20px;
    text-align: center;
}

.dice-upload-banner {
    background-color: #B0C4DE;
    color: #333333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.page-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.page-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #444444;
}

.dice-sections-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
    padding: 10px;
}

.dice-upload-section,
.dice-results-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #B0C4DE;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dice-upload-section img, .dice-results-section img {
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
    margin-bottom: 10px;
}

.dice-upload-section:hover, .dice-results-section:hover {
    border-color: #FF4500;
}

.dice-upload-section h2, .dice-results-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #008080;
}

.uploaded-image {
    margin-top: 20px;
    height: auto;
    border-radius: 10px;
}

.dice-results-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
}

.dice-result-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dice-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.result-highlight {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FF4500;
    margin-top: 10px;
    text-align: center;
    background-color: #FFF3E0;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #FF4500;
    display: inline-block;
}
